{
	TemplateName = "Player",
	ClientId = 1,
	Color = "EFD2C5", --FFDAA5
	Mobile = {
		MobileType = "Player",
		MovementSpeed = ServerSettings.DefaultMovementSpeed
	},
	Attach = "player",
	Stats = {
		Health = 100,
	}
}